.placeholder {
  background: #eee;
  height: 100vh;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;

  .devissh-card {
    height: 240px;
    width: 500px;
    background: #fff;
    border-radius: 0.5%;
    padding: 5%;

    opacity: 0.9;

    .name {
      font-size: 48px;
      font-weight: 700;
      color: #222;
      margin-top: 20px;
    }

    .text {
      font-size: 24px;
      margin: 20px 0;
    }

    .button {
      opacity: 0.89;
      background: #00a676;
      color: #fff;
      padding: 10px 20px;
      width: 80px;
      border-radius: 10px;

      &:hover {
        opacity: 1;
      }

      &:active {
        opacity: 0.1;
      }
    }

    .text,
    .button {
      margin-left: 5px;
    }
  }

  a {
    text-decoration: none;
  }

  @media screen and (max-width: 500px) {
    max-height: 320px;
    max-width: 500px;
    background: #fff;
  }
}
