.btn{
    display: flex;
    background: #E03528;
    border-radius: 20px;
    color: #ffffff;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    border:none;
    padding: 1rem 2.5rem;
    font-weight: 400;
    line-height: 23px;

    .icon{
        margin-left:10px;

        svg{
        fill:#ffffff;
        }
    }
}