/* 
 * Base CSS file fot global styles ...
*/
*{
    padding:0;
    margin:0;

    body{
        font-family: Rosario, sans-serif;
    }

    .container{
        max-width: 1170px;
        margin: 10px auto;
    }
}