/* 
 * Base CSS file fot global styles ...
*/

.header{
  display:flex;
  justify-content:space-between;
  padding: 0 10px;
  align-items:center;

  .logo{
      display:flex;
      align-items:center;

      .icon{
          padding:0 0 0 20px;
          margin-right:10px;
      }

      .ic_name{
          font-size:27px;
          font-family: Rosario, sans-serif;
          font-weight:400;
          color: #E03528E6;
      }
  }

  .navlist{
      display:flex;
      justify-content:space-between;

      .item{
          margin-right:30px;
          font-size:20px;
          font-weight:400;
          color:#192EC9E6;
      }
  }
}

.footer{
  padding:10px 0px;

  .social{
      margin:0 auto;
      max-width:150px;

      .icons{
          display:flex;

          div{
              padding:5px 10px;
          }
      }
      .email{
          color:#777777C2;
          font-size:18px;
      }
  }

  .lower{
      background-color:#192EC9D9;
      width:100%;
      
      .copyright{
          padding:0 10px;
          color: #FFFFFF;
          max-width:500px;
          display:flex;
          justify-content:space-between;
      }
  }
}
